@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@font-face {
  font-family: 'istok-web';
  font-style: normal;
  font-weight: 400; 
  src: url('./assets/fonts/primary_font/IstokWeb-Regular.ttf') format('woff2');
}

body {
  @apply font-primary; 
}
